@{
    ViewBag.Title = "AddManufacturer";
}

<h2>Add Manufacturer</h2>

@using (Html.BeginForm("AddManufacturer","Admin")) {
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="span8">
                <form action="billing" method="post" class="form-horizontal" id="billingform" accept-charset="utf-8">
                    <div class="control-group">
                        <label for="manufacturerName" class="control-label">
                            Manufacturer name
                        </label>
                        <div class="controls">
                            <input name="manufacturerName" type="text" value="" id="manufacturerName">
                        </div>
                    </div>
   

                    <p></p>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save Manufacturer</button>
                        <a href="@Url.Action("ManufacturersList")" class="btn btn btn-danger">Cancel and return to list</a>
                    </div>
                </form>
            </div> <!-- .span8 -->
        </div>
        </div>
</div>
    
}


