@model HQServer.Domain.Entities.Manufacturer
@{
    ViewBag.Title = "EditManufacturer";
}

<h2>Edit Manufacturer</h2>
@using (Html.BeginForm("EditManufacturer", "Admin"))
{
        <div>
        <fieldset>
            <legend>Edit @Model.manufacturerName</legend>

            @Html.EditorForModel()
            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    </div>
}
