@using System.Web.Mvc.Html; 
@using HQServer.WebUI.HtmlHelpers
@using HQServer.WebUI.Models

@{
    ViewBag.Title = "OutletTransactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-sm-12 col-md-10 col-md-offset-1">
    <div class="row">
        <h2>Outlet Transactions</h2>
        <p></p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">Date</th>
                    <th>ID</th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>

                @{
                    foreach (var item in Model.Transactions)
                    {
                        string text = item.transactionSummaryID.ToString();

                        <tr>
                            <td style="text-align: center">
                                @item.date.ToShortDateString()
                            </td>
                            <td>
                                @item.transactionSummaryID
                              </td>
                            <td>
                                <a href="@Url.Action("TransactionDetails", new {item.transactionSummaryID})" class="btn btn-success">View Transactions</a>
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>
        <a href="@Url.Action("ViewTransactionsForOutlet")" class="btn btn-primary">Return to search criteria</a>
    </div>
</div>

