@{
    ViewBag.Title = "UploadTransactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UploadTransactions</h2>
@using (Html.BeginForm("UploadTransactions", "Shop"))
{
    
        <div>
        <fieldset>
            <legend>Add Transaction</legend>

            <div class="editor-label">
                @Html.Label("Transaction", "Transaction String")
            </div>
            <div class="editor-field">
                @Html.Editor("input")
            </div>

            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    </div>
}
@Html.ActionLink("Cancel and return to List", "List")