@{
    ViewBag.Title = "ViewTransactionsForOutlet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewTransactionsForOutlet</h2>
<p>
    Please enter outletID
</p>
@{
            if(TempData["results"] != null)
            {
                <div class="alert alert-danger">@TempData["results"] </div>
            }
        }
@using (Html.BeginForm("TransactionsForOutlet", "Shop", FormMethod.Get))
{
    <div>
        <fieldset>
            <legend>Outlet Information</legend>

            <div class="editor-label">
                @Html.Label("ID", "ID")
            </div>
            <div class="editor-field">
                @Html.Editor("outletID")
            </div>

            <p>
                <input type="submit" value="Search" />
            </p>
        </fieldset>
    </div>
}  
